<div class="wrapper home-new">
    <div class="upcoming-fixure">
        <div class="fixure-title">Upcoming Fixtures</div>
        <div class="fixure-box-container" style="width: calc(100% - 95px);">
            <marquee>
                <div data-v-307f1144="" class="marquee">
                    <div data-v-307f1144="" class="marquee-inner">
                        <div data-v-307f1144="" class="marquee-content" style="transform: translateX(-3319.6px);">
                            <div data-v-307f1144="" class="login-fixture">
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-15"></i>
                                        Nef SK - Saray Belediyespor
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 15:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-15"></i>
                                        Olomouc - SKB Zlin
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 23:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        Hapoel Migdal Haemek - MS Tzeirey Taibe
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 17:00:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-15"></i>
                                        Elitzur Barak Netanya - Maccabi Haifa
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 16:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        Universitatea Cluj v Rapid Bucharest
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 23:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        Al Quwa Al Jawiya - Al Talaba
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 22:00:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        Bologna v Spezia
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 23:00:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        Elversberg v Rot-Weiss Essen
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 23:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        Newcastle Jets v Brisbane Roar
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 14:15:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-4"></i>
                                        Chattogram Challengers v Fortune Barishal
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 18:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-15"></i>
                                        Haukar - KR Reykjavik
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 23:45:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-4"></i>
                                        Sydney Thunder v Brisbane Heat
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 13:45:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-4"></i>
                                        Gulf Giants v MI Emirates
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 19:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-15"></i>
                                        Gecit Spor - Pizza Bulls
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 18:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-2"></i>
                                        Fils v Ot Virtanen
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 20:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-4"></i>
                                        India v New Zealand
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 19:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-2"></i>
                                        Blancaneaux v Albot
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 18:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-4"></i>
                                        South Africa v England
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 16:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        East Riffa v Al-Shabbab (BRN)
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 19:00:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-2"></i>
                                        Manuel Cerundolo v Dellien
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 21:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-2"></i>
                                        Celikbilek v Misolic
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 19:00:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-4"></i>
                                        England Women U19 v Australia Women U19
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 17:15:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-2"></i>
                                        Pouille v Barrere
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 23:00:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-2"></i>
                                        Goffin v Hanfmann
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 21:00:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        Tzeirey Kfar Kana - Maccabi Tamra
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 17:15:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        SV Darmstadt v Jahn Regensburg
                                    </div>
                                    <div data-v-307f1144="">28/01/2023 17:30:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-2"></i>
                                        M Ymer v Marozsan
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 23:00:00</div>
                                </div>
                                <div data-v-307f1144="" class="fixure-box">
                                    <div data-v-307f1144=""><i data-v-307f1144="" class="d-icon mr-2 icon-1"></i>
                                        Manama Club v Al Ahli (BRN)
                                    </div>
                                    <div data-v-307f1144="">27/01/2023 22:00:00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </marquee>
        </div>
    </div>
    <app-news></app-news>
